@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(0, 0, 0, 0.9);
}
.clip-path {
  clip-path: polygon(71% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}

td {
  width: 500px;
  padding: 5px;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 30%, 100% 72%, 50% 100%, 0 72%, 0 30%);
  filter: drop-shadow(10px 10px 0 0 white);
}
